@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  code {
    font-family: inherit;
  }
} */

html,
body,
#root {
  @apply h-full overflow-hidden;
}

/* Needed to avoid Figma UI2 problem with Tailwind */
label::before {
  box-sizing: content-box;
}

/* * {
  white-space: nowrap;
} */

/* Needed to make dropdowns wider */
.wide-dropdown .select-menu__menu--active {
  width: 184px;
}

.select-menu__item-icon {
  /* width: 4px !important; */
  flex-shrink: 0;
  /* display: none; */
}

/* Needed to fix icon centering */
.icon.fix-icon {
  background-position: 0;
}

.shiki {
  height: 100%;
}

.shiki,
.shiki * {
  font-family: inherit;
}

.shiki code {
  display: block;
}
